<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .align{
        align-items: center;
    }
    
    .boxes {
        display:inline-flex;
        height: 200px;
        width: 200px;
        border: 2px solid black;
        border-radius: 5%;
        background-color: {{color}};
    }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    {% for x in range(0,x): %}
    <div class="boxes">
    </div>
    {% endfor %}
</body>
</html>